GOOSE_DRIVER="sqlite3"
GOOSE_DBSTRING="./database/main.db"
GOOSE_MIGRATION_DIR="./database/migrations"

SERVER_ADDRESS=":8080"
JWT_SECRET=""

VALKEY_ADDRESS="localhost:6379"
IDEMPOTENCY_TTL="24h"
IDEMPOTENCY_HEADER="Idempotency-Key"
